// header2-theme.scss

@use "sass:map";
@use "@angular/material" as mat;

@mixin color($theme) {
  .header2-toolbar {
    background-color: mat.get-theme-color($theme, surface);
    color: mat.get-theme-color($theme, on-surface);
  }

  .logo-container {
    .logo {
      fill: mat.get-theme-color(
        $theme,
        primary
      ); // Apply primary color to the SVG logo
    }
    .logo-text {
      color: mat.get-theme-color(
        $theme,
        primary
      ); // Apply primary color to the logo text
    }
  }

  .menu-container .menu-item {
    color: mat.get-theme-color($theme, on-surface);
  }

  .sidenav {
    background-color: mat.get-theme-color($theme, surface-container);
  }

  .sidenav .mat-nav-list .mat-list-item {
    color: mat.get-theme-color($theme, on-surface);
  }
}

// @mixin typography($theme) {
//   .header2-toolbar {
//     font: mat.get-theme-typography($theme, "body-large", "font");
//   }
//
//   .header2-sidenav a {
//     font: mat.get-theme-typography($theme, "body-medium", "font");
//   }
// }

@mixin theme($theme) {
  @include color($theme);
  // @include typography($theme);
}
