@use "@angular/material" as mat;

@mixin color($theme) {
  .properties-container {
    background-color: mat.get-theme-color($theme, surface);
    color: mat.get-theme-color($theme, on-surface);
  }

  .categories-nav {
    background-color: mat.get-theme-color($theme, surface-container);
    border-right: 1px solid mat.get-theme-color($theme, outline);
  }

  .property-card {
    background-color: mat.get-theme-color($theme, surface-container);
  }

  h2,
  .property-card h3 {
    color: mat.get-theme-color($theme, primary);
  }

  mat-card-actions button {
    color: mat.get-theme-color($theme, primary);
  }
  .categories-nav {
    .mat-list-item {
      &.active {
        background-color: mat.get-theme-color($theme, secondary-container);
        color: mat.get-theme-color($theme, on-secondary-container);
      }

      &:hover {
        background-color: mat.get-theme-color(
          $theme,
          surface-container-highest
        );
      }
    }
  }
}

@mixin typography($theme) {
  .categories-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    .mat-list-item {
      font: var(--mat-title-medium-font);
      letter-spacing: var(--mat-title-medium-letter-spacing);
      transition: all 0.3s ease;

      &.active {
        font-weight: var(--mat-font-weight-bold);
        transform: scale(1.05);
      }
    }
  }

  section {
    h2 {
      font: var(--mat-headline-large-font);
      letter-spacing: var(--mat-headline-large-letter-spacing);
      margin-bottom: 1.5rem;
    }
  }
}

@mixin theme($theme) {
  @include color($theme);
  @include typography($theme);
}
