@use '@angular/material' as mat;

@mixin color($theme) {
  .property-details {
    .image-container {
      background-color: mat.get-theme-color($theme, surface-container-lowest);
    }

    .main-image, .thumbnail img {
      background-color: mat.get-theme-color($theme, surface-container-low);
    }

    .see-all-overlay {
      background: mat.get-theme-color($theme, surface-container-highest);
      color: mat.get-theme-color($theme, on-surface);
    }

    .thumbnail {
      border: 1px solid mat.get-theme-color($theme, outline-variant);
      
      &:hover:not(.see-all) {
        border-color: mat.get-theme-color($theme, outline);
        box-shadow: 0 2px 4px rgba(mat.get-theme-color($theme, shadow), 0.08);
      }
    }
  }
}

@mixin typography($theme) {
  .property-details {
    .see-all-overlay span {
      font: var(--mat-title-small-font);
      letter-spacing: var(--mat-title-small-letter-spacing);
    }
  }
}

@mixin theme($theme) {
  @include color($theme);
  @include typography($theme);
} 