@use "../../../styles/mixins/header-theme" as header-theme;
@use "../../../styles/m3-theme" as customTheme;
@use "@angular/material" as mat;

.custom-toolbar {
  height: auto;
  min-height: 80px; // Adjust this value as needed
  display: flex;
  align-items: center;
  padding: 8px 16px;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(to right, #0064b9, #007de5);
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
    text-align: center; // Center the text
  }

  .logo {
    width: 60px;
    height: 60px;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
  }

  .app-name {
    color: #fff; // White text color for menu
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2;
  }
}

.spacer {
  flex: 1 1 auto;
}

.menu-container {
  display: flex;
  align-items: center;

  .menu-item {
    color: #fff; // White text color for menu
    transition: background-color 0.3s ease;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
    font-size: 1.2rem; // Larger font size for menu items
    font-weight: 600; // Increased font weight for better visibility
    padding: 0 16px;
    letter-spacing: 0.5px; // Slight letter spacing for better readability
  }
}

.cta-button {
  background-color: #ff4081; // Use a contrasting color
  color: white;
  padding: 8px 16px;
  border-radius: 24px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken(#ff4081, 10%);
  }
}

// Include the theme mixin
@include header-theme.theme(customTheme.$light-theme);
