@if (isMobile) {
  <app-mobile-header></app-mobile-header>
} @else {
  <mat-toolbar color="primary">
    <a mat-button routerLink="/" class="logo-container">
      <img
        src="/public/swans.svg"
        alt="املاک دو قو Logo"
        class="logo"
        width="40"
        height="40"
      />
      <span class="app-name">املاک دو قو</span>
    </a>
    <span class="spacer"></span>
    <a mat-button routerLink="/property/toghdar">املاک</a>
    <a mat-button routerLink="/about">درباره ما</a>
    <a mat-button routerLink="/contact">اطلاعات تماس</a>
    <button mat-raised-button color="accent">درخواست بازدید</button>
  </mat-toolbar>
}
