@use "@angular/material" as mat;
@use "./themes/m3-theme-farsi.scss" as themes;
@use "./components";
@use "./sizes";

@include mat.core();
// @import "bootstrap/scss/bootstrap";

html {
  // Apply the light theme by default
  @include mat.core-theme(themes.$light-theme);
  @include mat.button-theme(themes.$light-theme);
  @include mat.icon-theme(themes.$light-theme);
  @include mat.menu-theme(themes.$light-theme);
  @include mat.sidenav-theme(themes.$light-theme);

  // Apply component-specific themes
  @include components.theme(themes.$light-theme);
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

// @include mat.core();
// @include mat.color-variants-backwards-compatibility(customTheme.$light-theme);
