@use "@angular/material" as mat;

@mixin color($theme) {
  .banner {
    .banner-content {
      background-color: rgba(mat.get-theme-color($theme, surface), 0.7);
      color: mat.get-theme-color($theme, on-surface);
    }

    h1 {
      color: mat.get-theme-color($theme, primary);
    }
  }
}

@mixin typography($theme) {
  .banner {
    .banner-content h1 {
      font: var(--mat-display-small-font);
      letter-spacing: var(--mat-display-small-letter-spacing);
    }
  }
}

@mixin theme($theme) {
  @include color($theme);
  @include typography($theme);
}