@use "@angular/material" as mat;

$heading-font-family: "Vazirmatn", sans-serif;
$regular-font-family: "Vazirmatn", sans-serif;

$farsi-typography: (
  plain-family: $regular-font-family,
  brand-family: $heading-font-family,
  bold-weight: 700,
  medium-weight: 500,
  regular-weight: 400,
  use-system-variables: true,
);
