<header class="mobile-header mat-elevation-z6">
  <button mat-icon-button (click)="toggleSidenav()" aria-label="Toggle Menu">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="header-title">عنوان برنامه</h1>
</header>

<div
  class="sidenav-backdrop"
  [class.active]="isSidenavOpen"
  (click)="toggleSidenav()"
></div>

<nav
  class="sidenav mat-elevation-z8"
  [@sidenavAnimation]="{
    value: isSidenavOpen ? 'open' : 'closed',
    params: { closedTransform: closedTransform },
  }"
  [class.open]="isSidenavOpen"
>
  <mat-nav-list>
    <div class="sidenav-header">
      <h2 class="mat-h2">منو</h2>
      <button mat-icon-button (click)="toggleSidenav()" aria-label="Close Menu">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <mat-divider></mat-divider>
    <a
      mat-list-item
      *ngFor="let item of menuItems"
      [routerLink]="item.route"
      (click)="toggleSidenav()"
    >
      {{ item.label }}
    </a>
  </mat-nav-list>
</nav>
